@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  min-height: 100vh;
}

.cool-transition {
  animation: cool-transition 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes cool-transition {
  0% {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  100% {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -999em;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

@media only screen and (max-width: 1023px) {
  .sidebar-menu-close {
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .sidebar-menu-open {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
  }
}
